.contact-body{
    margin: 0;
    padding: 0;
    display: flex;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.3);
    width: 850px;
    background-color: white;
    height: 500px;
    border-radius: 17px;
}
.contact-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
img {
    width: 250px;
    
}
.contact-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.contact-header span{
    font-size: 30px;
}