.signup-container {
    display: flex;
    position: relative;
    margin-right: 10px;
  }
  
  .signup-button {
    cursor: pointer;
    background: none;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    padding: .5em 1.5em .5em 0.2em;
    font-size: 15px;
    font-weight: bold;
    color: #9EA1FA;
    transition: all .3s ease;
  }
  
  .arrow {
    fill: #9EA1FA;
    position: absolute;
    pointer-events: none;
    width: 24px;
    right: 0;
    top: 25%;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .signup-button:hover {
    letter-spacing: 3px;
  }
  
  .signup-button:hover ~.second {
    opacity: .66;
    right: -20px;
    transition-delay: 50ms;
  }
  
  .signup-button:hover ~.third {
    opacity: .33;
    right: -40px;
    transition-delay: 100ms;
  }
  
  .second, 
  .third {
    opacity: 0;
  }