@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.btn {
    background: transparent;
    text-decoration: none;
    border: none;
    padding: 10px 4px 8px 0;
    margin: 0.4em 0.9em 0.4em 0;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    color: #5C5C5C;
    position: relative;
    transition: .25s ease;
  }
.btn-opened{
    background: transparent;
    display: none;
    text-decoration: none;
    border: none;
    padding: 10px 4px 8px;
    margin: 0.4em 0.9em;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 500;
    color: #5C5C5C;
    position: relative;
}
  
.btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: .5s ease;
  }
  
  .btn:hover {
    
    transition-delay: .25s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .container{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .container-opened{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .icon-opened{
    height: 46.16px;
  }
  .icon{
    position: relative;
    padding-left: 28px;
    padding-right: 28px;
  }