.home-container{
    flex-direction: row;
    width: 100%;
}
.home-content{
    display: inline-block;
    height: 100vh;
}
.home-main-content{
    width: 70%;
}
.home-aside{
    width: 30%;
}
.slick-slider{
    padding: 0;
    margin: 0;
}