.home-container{
    width: 100%;
}
.home-content{
    display: inline-block;
}
.home-main-content{
    width: 70%;
    padding: 0;
    margin: 0;
}
.home-aside{
    width: 30%;
}
.carousel{
    width: 400px;
    height: 200px;
    background-image: url('../../Assets/mens-banner.jpg');
    background-size: cover;
    background-position: center;
    background-color: #f0f1fe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}